.DS_Store
.env
passerelle/vendor/
passerelle/node_modules/
passerelle/.env
passerelle/storage/logs/*.log
passerelle/storage/framework/cache/data/*
passerelle/storage/framework/sessions/*
passerelle/storage/framework/views/*.php
